In [6]:
import pandas as pd
from pathlib import Path
import csv

In [7]:
df = pd.read_csv('movies_with_clusters.csv')

In [8]:
df.head()

,Movie Name,Corpus,Tokenized Corpus,Cluster
0,10 Cloverfield Lane 2016,movie full suspense makes guess real happens w...,"[101, 3185, 2440, 23873, 3084, 3984, 2613, 643...",2
1,10 Things I Hate About You 1999,first day new school cameron falls bianca stra...,"[101, 2034, 2154, 2047, 2082, 7232, 4212, 1805...",2
2,12 Angry Men 1957,excellent courtroom drama unique twist instead...,"[101, 6581, 20747, 3689, 4310, 9792, 2612, 220...",2
3,12 Monkeys 1995,terry gilliam fantastic twisted story virus de...,"[101, 6609, 12267, 25107, 10392, 6389, 2466, 7...",0
4,12 Strong 2018,see films like really underlines programmed ig...,"[101, 2156, 3152, 2066, 2428, 2104, 12735, 169...",1

In [24]:
value_counts = df['Cluster'].value_counts()

print(value_counts)

1    412
0    377
2    360
Name: Cluster, dtype: int64